// Color
$main-color: #3498db;
$dim: rgba(0, 0, 0, 0.04);
$faded-text: rgba(0, 0, 0, 0.8);

// Typo
$small-text:16px;
$medium-text:20px;
$large-text:70px;

// Transition
$fast-transition: all .2s ease-in-out;
$semi-fast-transition: all .3s ease-in-out;
$medium-transition: all .5s ease-in-out;


// size
$max-width:400px;

$input-border-radius:4px;
$expand-column-width: 140%;

$passcode-size: 40px;

$bubble-space-expand:10px;
$bubble-space-from-op:15px;
$bubble-space:2px;

$chat-bar-height: 36px;
$chat-bar-margin: 10px;